{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.banner.enable }}
{{- with $data.homepage.banner }}
<!-- hero area -->
<section class="section banner-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 align-self-center text-center text-md-left offset-md-1">
				<div class="block">
					<h1 class="font-weight-bold mb-4 font-size-60">{{ .title | markdownify }}</h1>
					<p class="mb-4">{{ .content | markdownify }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{.link|absLangURL}}" class="btn btn-main">{{.label}}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
			<div class="col-md-4 text-center mb-5 mb-md-0">
				<img class="img-fluid presentation-pic" src="{{ .image | absURL }}" alt="">
			</div>
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- header close -->
{{- end }}
{{- end }}

{{ $script := resources.Get "js/animate-content.js" }}
<script src="{{ $script.Permalink }}" defer></script>