{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.features.enable }}
{{- with $data.homepage.features }}
<section class="section" id="features">
  <div class="container">
    <div class="row">
      <div class="col-12 order-first">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
      <div class="col-md-4 order-3 order-md-2">
        {{ range .left_side }}
        <div class="mb-40 text-md-left feature">
          <i class="{{ .icon }} fa-2x"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="col-md-4 text-center align-self-center mb-4 mb-md-0 feature-image order-2 order-md-3">
        <img class="img-fluid presentation-pic" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-4 order-4">
          {{ range .right_side }}
        <div class="mb-40 text-md-left feature">
          <i class="{{ .icon }} fa-2x"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}

{{ $script := resources.Get "js/animate-features.js" }}
<script src="{{ $script.Permalink }}" defer></script>