{{ "<!-- mobile responsive meta -->" | safeHTML }}
<meta itemprop="description" content="{{ .Params.description }}" />
<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta property="og:description" content="{{ .Params.description }}" />
<meta name="twitter:description" content="{{ .Params.description }}" />
<title itemprop="name">{{ .Title }} | {{ .Site.Title }}</title>
<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta name="application-name" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
{{ with .Params.image }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}

<meta property="og:locale" content="{{ .Language.Lang }}">
<meta name="language" content="{{ .Language.LanguageName }}">
{{ range .AllTranslations }}
  <link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
{{ end }}

<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />
{{ template "_internal/opengraph.html" . }}
{{- $privacyConfig := .Site.Config.Privacy.GoogleAnalytics -}}
{{- if not $privacyConfig.Disable }}{{ with .Site.GoogleAnalytics -}}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
<script>
  {{ template "__ga_js_set_doNotTrack" $ }}
  if (!doNotTrack) {
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ . }}', { 'anonymize_ip': {{- $privacyConfig.AnonymizeIP -}} });
    gtag('config', 'G-JZ4501T09P');
  }
</script>
{{- end }}{{ end -}}

{{- define "__ga_js_set_doNotTrack" -}}{{/* This is also used in the async version. */}}
{{- $privacyConfig := .Site.Config.Privacy.GoogleAnalytics -}}
{{- if not $privacyConfig.RespectDoNotTrack -}}
var doNotTrack = false;
{{- else -}}
var dnt = (navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack);
var doNotTrack = (dnt == "1" || dnt == "yes");
{{- end -}}
{{- end -}}