{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.promo.enable }}
{{ with $data.homepage.promo }}
<section class="bg-orange section">
  <div class="container">
    <div class="row">
      <div class="col-12 heading">
        <h1 class="subheading text-white font-weight-bold mb-10">{{ .title | markdownify }}</h1>
      </div>
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid presentation-pic" src="{{ .image | absURL }}" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          {{ range .arguments }}
          <p class="text-white font-weight-bold">{{ .text }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}