{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.purpose.enable }}
<section class="gallery" id="products">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ $data.homepage.purpose.title | markdownify }}</h2>
        </div>

        <div class="product-slider container">
          {{ range $data.homepage.purpose.content }}
          <div class="purpose-card row">
            <h3 class="col-md-4">{{ .title }}</h3>
            <p class="col-md-8">{{ .text | markdownify }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}