{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">{{ .Title | markdownify }}</h2>
        <p>{{ .Params.content.help_us}}</p>
        <p>{{ .Params.content.beta_tester}}</p>
      </div>
      <div class="col-lg-8">
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrTWKKuLoWffAf83?backgroundColor=orange" frameborder="0" onmousewheel="" width="100%" height="1600" style="background: transparent"></iframe>
      </div>
    </div>
  </div>
</section>

{{ end }}