{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2 class="font-weight-bold mb-4">{{ .Title | markdownify }}</h2>
        <p>{{ .Params.content.help_us}}</p>
        <p>{{ .Params.content.beta_tester}}</p>
      </div>
      <div class="col-lg-8 contact-form-container">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScfbKuCnd8Pg8OzxYYpRYPu58QjzJuz_DxV_3useeGdEV1LSA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" class="contact-form">Chargement…</iframe>
      </div>
    </div>
  </div>
</section>

{{ end }}