{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="font-weight-bold mb-3">{{.Title}}</h1>
        {{ with .Params.content }}
        <p>{{ .aboutUs }}</p>
        {{end}}
      </div>
    </div>
  </div>
</section>
{{ with .Params.content }}
<section class="bg-orange section text-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-4 d-flex justify-content-center">
        <i class="far fa-handshake fa-8x"></i>
      </div>
      <div class="col-12 col-sm-8 text-center mb-5">
        <h2 class="font-weight-bold mt-5 mb-3">{{ .titlePurpose }}</h2>
        <p>{{ .missionPurpose }}</p>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h1 class="mb-3 text-center">{{ .commitmentTitle }}</h1>
    <p>{{.commitmentIntroduction}}</p>
    {{ range .commitments }}
    <ul>
      <li>
        <h2 class="mb-2 mt-4">{{ .title }}</h2>
        <p>{{ .content | markdownify }}</p>
      </li>
    </ul>
    {{ end }}
  </div>
</section>
{{end}}
{{ end }}